@import "./box.css";
@import "./button.css";
@import "./title.css";
@import "./subtitle.css";
@import "./banner.css";
@import "./secondsection.css";
@import "./skills.css";
@import "./third-section.css";
@import "./main-description.css";
@import "./button-arrow.css";
@import "./node-card.css";
@import "./carousel.css";
@import "./carousel-items.css";
@import "./footer.css";
@import "./sectio-fourth.css";



*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #a8a3a4;
    
}

.container{
    
    padding: 10px;
    justify-content: space-between;
    display: flex;
    background-color: #7C5E99;
    border-bottom: 10px solid black;
    
}

img{
    margin:10px 0 10px 20px;
}

a{
    display: inline-flex;
    color: white;
    font-family: 'Fira Code', monospace;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    margin: 10px 20px 10px 0;
    align-items: center;
}

.container a::before{
    content: ""  ;
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #F25A70;
    margin-right: 10px;
    
}

.principal{
    margin-left: auto;
    margin-right: auto;
    width:1800px;
}



