@import "/css/box.css";
@import "/css/button.css";
@import "/css/title.css";
@import "/css/subtitle.css";
@import "/css/banner.css";
@import "/css/secondsection.css";
@import "/css/skills.css";


*{
    padding: 0;
    margin: 0;
}


.container{
    
    padding: 10px;
    justify-content: space-between;
    display: flex;
    background-color: #7C5E99;
    border-bottom: 10px solid black;
    
}

img{
    margin:10px 0 10px 20px;
}

a{
    display: inline-flex;
    color: white;
    font-family: 'Fira Code', monospace;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    margin: 10px 20px 10px 0;
    align-items: center;
}

a::before{
    content: ""  ;
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #F25A70;
    margin-right: 10px;
    
}



