.initial{
    color: #F25A70;
    justify-content: space-evenly;
    display:flex;
    flex-direction: column;
    font-family: 'Press Start 2P', cursive;
    background-color: #3A4042;
    width: 627px;
    text-align: center;
    font-size: 30px;
    box-shadow: 5px 5px 1px #f25a71;
    margin-left: 91px;
    margin-bottom: 38px;
    text-align: center;
    text-shadow: 3px 5px 0px black;
    padding: 40px 0px;
    
    
}
